/* ボタングループの全体スタイル */
.my-extension-root.sel-box-element {
    z-index: 2147483647;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 6px;
    background-color: #ffffff;
    vertical-align: middle;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
}

.my-extension-root.btn-group1 {
    /* z-index: 2147483647; */
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px; */
    background-color: #ffffff;
    vertical-align: middle;
    height: auto;
    display: inline-flex;
    flex-wrap: wrap;
    /* 折り返し対応 */
    /* justify-content: flex-start; */
    /* 左寄せ */
    padding: 6px;
    gap: 2px;
}
.expand-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.5rem;
    width: 100%;
    /* height: 100%; */
    padding: 0px;
    margin: 0px;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

/* ボタンのスタイル */
.my-extension-root .btn1 {
    /* flex: 0 1 calc(100% / 8 - 8px); */
    display: inline-flex;
    align-items: center;
    justify-content: start;
    vertical-align: middle;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    line-height: 1.5;
    transition: all 0.2s ease-in-out;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.875rem;
}

/* ダークテーマのボタン */
.my-extension-root .btn-light1 {
    /* border: 1px solid #535c66; */
    background-color: #ffffff;
    color: #0e0d0d;
}

.my-extension-root .btn-light1:hover {
    background-color: #c6cdd6;
    /* border-color: #1d2124; */
    color: #0c0c0c;
}

.my-extension-root .btn-dark1 {
    background-color: #292e33;
    color: #ffffff;
    /* border-color: #444e58; */
}

.my-extension-root .btn-dark1:hover {
    background-color: #15191f;
    /* border-color: #1d2124; */
    color: #ffffff;
}


/* アイコン付きボタン */
.my-extension-root .btn-icon1 {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.my-extension-root .btn-icon1 img {
    display: block;
    height: 20px;
}

/* ...existing code... */

.dragging {
    opacity: 0.5;
    transform: scale(1.1);
}

.selBoxGroup a {
    transition: transform 0.2s ease, opacity 0.2s ease;
}

.selBoxGroup a.over {
    transform: translateX(-20px);
}