/* ボタングループの全体スタイル */
.btn-group1 {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  background-color: #ffffff;
  vertical-align: middle;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  padding: 6px;
  gap: 2px;
}

.expand-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  border: 1px solid transparent;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.5rem;
  width: 100%;
  padding: 0px;
  margin: 0px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

/* ボタンのスタイル */
.btn1 {
  display: inline-flex;
  align-items: center;
  justify-content: start;
  vertical-align: middle;
  border: 1px solid transparent;
  border-radius: 0.5rem;
  line-height: 1.5;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  font-size: 0.875rem;
}

/* ライトテーマのボタン */
.btn-light1 {
  background-color: #ffffff;
  color: #0e0d0d;
}

.btn-light1:hover {
  background-color: #c6cdd6;
  color: #0c0c0c;
}

/* ダークテーマのボタン */
.btn-dark1 {
  background-color: #292e33;
  color: #ffffff;
}

.btn-dark1:hover {
  background-color: #15191f;
  color: #ffffff;
}

/* アイコン付きボタン */
.btn-icon1 {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4px;
}

.btn-icon1 img {
  display: block;
  height: 20px;
}

.dragging {
  opacity: 0.5;
  transform: scale(1.1);
}

.selBoxGroup a {
  transition:
    transform 0.2s ease,
    opacity 0.2s ease;
}

.selBoxGroup a.over {
  transform: translateX(-20px);
}
