html {
  font-size: 0.8rem;
  width: 30rem;
}

@media (min-width: 30rem) {
  html {
    width: auto !important;
  }
}

@media (min-width: 768px) {
  html {
    font-size: 0.95rem;
  }

  .container-md {
    max-width: 720px !important;
  }

  .table-responsive {
    overflow-x: visible !important;
  }
}

#panel {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

#panel.no-transition {
  transition: none !important;
}

.relative {
  position: relative;
}

.relative #btn-close {
  position: absolute;
  right: 0.5rem;
  z-index: 1000;
}